.flex {
 display: flex;
 flex-direction: row;
}
.marginl{
    margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.textt{
 margin-bottom: 5px;
}
.imgg{
    border-radius: 10px;
}